/* body, html {
    height: 100%
}

#sighting-page {
background-image: url("/public/images/background.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#sighting-header {
    color: white;
} */
